:root {
  font-family: Gelasio, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  overflow-x: hidden;

  scroll-behavior: smooth;
  scroll-margin-top: 100px;
}

body {
  min-width: 320px;
  min-height: 100vh;

  margin: 0;

  color: #0A2604;
  background-color: #E2F4D7;
}

h1 {
  font-size: 2em;
  line-height: 1.8;
  text-align: center;
  margin: 0 auto;
  text-shadow: 0px 4px 4px #0073415E;
  width: 50%;
}

h2 {
  font-size: 2em;
  line-height: 1.1;
  text-align: center;
  font-style: italic;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.checkbox-list {
  font-weight: 600;
  display: flex;
  flex-direction: column;
  gap: 3vh;
}

.ant-form-item-required::before {
  content: '■' !important;
  font-size: 14px !important;
  color: #83480D !important;
  margin-right: 10px !important;
}

.ant-form-item-explain {
  font-size: 12px !important;
  margin-bottom: 10px !important;
}

.ant-input-number-status-error .ant-input-number-action {
  border-color: #ef0004ff !important;
}

.input {
  width: 100%;
}

.header-button {
  font-size: 18;
  font-weight: 400;
  text-decoration: none;
  color: #0A2604;
  border-radius: 15px;
  padding: 7px 30px;
}

.day-info .ant-form-item-required::before {
  content: '' !important;
  width: 0 !important;
}

h3 {
  padding: 3px 6px;
  background-image: url(header3-bg.svg);
  background-repeat: no-repeat;
  margin: 0 0 20px 0;
}

.result-header::before, .result-header::after {
  content: url(triangle.svg);
}

.result-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.recomendation::before {
  content: "•";
  font-size: 60px;
  color: #83480D !important;
}

.recomendation {
  font-size: 20px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 10px;
  margin: 3vh 0 0 4%;
}

.slick-arrow {
  color: #83480D !important;
}